<ion-view>
  <ion-content>
    <div class="list">

      <div class="item item-divider">
        Vunna medaljer
      </div>

      <div ng-repeat="achievement in achievements | filter: {unlocked:true}" class="item item-text-wrap item-thumbnail-left unlockedAchievements">
        <img src="{{achievement.image}}"/>
        <h2>
          {{achievement.name}}
          <span ng-show="{{achievement.progress != null}}">
            ({{achievement.progress.current}} / {{achievement.progress.total}})
          </span>
        </h2>
        <p>{{achievement.description}}</p>
      </div>

      <div class="item item-divider">
        Låsta medaljer
      </div>

      <div ng-repeat="achievement in achievements | filter: {unlocked:false}" class="item item-text-wrap item-thumbnail-left lockedAchievements">
        <img src="{{achievement.image}}"/>
        <h2>
          {{achievement.name}}
          <span ng-show="{{achievement.progress != null}}">
            ({{achievement.progress.current}} / {{achievement.progress.total}})
          </span>
        </h2>
        <p>{{achievement.description}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
