<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/startpage">
          Hem
        </ion-item>
        <ion-item menu-close ng-click="login()">
          Logga in
        </ion-item>
        <ion-item menu-close href="#/app/search">
          Sök
        </ion-item>
        <ion-item menu-close href="#/app/achievements">
            Achievements
        </ion-item>
        <ion-item menu-close href="#/app/registerTripDriver">
          Register Ride (Driver)
        </ion-item>
         <ion-item menu-close href="#/app/resultat">
        <ion-item menu-close href="#/app/resultat">
          Resultat
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
