<ion-view>
  <ion-content>
    <ion-list show-delete show-reorder="true">
      <ion-item class="item item-divider">
        Återkommande resor
      </ion-item>
      <ion-item ng-repeat="recurringTrip in recurringTrips">
        {{recurringTrip.title}}
      </ion-item>
      <ion-list class="item item-divider">
        Medaljer
      </ion-list>
      <ion-item ng-repeat="achievement in achievements">
        {{achievement.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
