<ion-view>
	<ion-content>
		 <form name="authorizationForm" novalidate="" ng-submit="addTripPassanger(authorizationForm)"> 
			<div class="list">
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Från</span>
			    <input ng-model="myForm.from" type="text" placeholder="Stockholm">
			  </label>

			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Till</span>
			    <input ng-model="myForm.to" type="text" placeholder="Göteborg">
			  </label>

	  		  <label class="item item-input item-stacked-label">
			    <span class="input-label">Önskad avresa</span>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Datum</span>
                    <input
                        ionic-datepicker
                        input-obj="datepickerObject"
                        ng-model="myForm.firstDate"
                        type="text"
                        placeholder="2016-02-14">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Tid</span>
                    <input
                        ionic-timepicker
                        input-obj="timePickerObject"
                        ng-model="myForm.firstTime"
                        type="text"
                        placeholder="11:30">
                </label>
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Önskad ankomst</span>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Datum</span>
                    <input
                        ionic-datepicker
                        input-obj="datepickerObjectArrival"
                        ng-model="myForm.arrivalDate"
                        type="text"
                        placeholder="2016-02-14">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Tid</span>
                    <input
                        ionic-timepicker
                        input-obj="timePickerObjectArrival"
                        ng-model="myForm.arrivalTime"
                        type="text"
                        placeholder="11:30">
                </label>
              </label>
            <button class="button button-full button-positive" type="submit">OK</button>
		</form>
	</ion-content>
</ion-view>
