.bar {
    background: none;
}

[nav-bar-transition="android"] {
    button.back-button {
        display: none !important;
    }
}

ion-nav-view {
    ion-side-menus {
        ion-side-menu-content {
            ion-nav-bar {
                div.nav-bar-block {
                    ion-header-bar.bar {
                        background-color: transparent;
                        background-image: none;
                        background-repeat: no-repeat;
                        background-position: 50% 50%;
                        button.back-button {
                            //display: none;
                        }
                        div.buttons {
                            button.ion-navicon {
                                border: 1px solid black;
                            }
                        }

                        .nav-bar-title {
                            img {
                                transform: translateY(43%);
                                display: block;
                                margin: 0 auto;
                                padding-right: 55px;
                            }
                        }
                    }
                }
            }
            ion-nav-view {
                ion-view {
                    ion-content {
                        div.scroll {
                            height: 100%;

                            h2 {
                                width: 100%;
                                text-align: center;
                            }

                            .contact {
                                span {
                                    display: block;
                                    font-size: 120%;
                                    margin-bottom: 10px;

                                    &.username {
                                        font-weight: bold;
                                        font-size: 140%;
                                    }
                                }
                            }

                            #startMenuContent {
                                a.button {
                                    height: 100px;
                                    width:80%;
                                    line-height: 90px;
                                    font-size: 40px;
                                    display:block;
                                    margin: 0 auto 100px auto;
                                    &:first-child {
                                        margin-top: 50px;
                                    }
                                }
                            }
                            #map {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}
