.bar {
    background: none;
}

[nav-bar-transition="android"], * {
    button.back-button {
        display: none !important;
    }
}

ion-nav-view {
    ion-side-menus {
        ion-side-menu {
            ion-content {
                ion-list {
                    
                }
                div#createdBySofthouse {
                    width: 160px;
                    color: #011339;
                    font-weight: 600;
                    text-align: center;
                    position: fixed;
                    left:0;
                    bottom: 0;
                    margin: 10px;
                    span {
                        padding-right: 5px;
                    }
                    img {
                        display: block;
                        margin: auto;
                        padding-top: 5px;
                    }
                }
            }
        }
        ion-side-menu-content {
            ion-nav-bar {
                div.nav-bar-block {
                    ion-header-bar.bar {
                        background-color: transparent;
                        background-image: none;
                        background-repeat: no-repeat;
                        background-position: 50% 50%;
                        button.back-button {
                            //display: none;
                        }
                        div.buttons {
                            button.ion-navicon {
                                border: 1px solid black;
                            }
                        }

                        .nav-bar-title {
                            img {
                                transform: translateY(50%);
                                display: block;
                                margin: 0 auto; 
                            }
                        }
                    }
                }
            }
            ion-nav-view {
                ion-view {
                    ion-content {
                        div.scroll {
                            height: 100%;

                            h2 {
                                width: 100%;
                                text-align: center;
                            }

                            label {
                                span.input-label {
                                    clear: both;
                                    display: block;
                                }

                                label {
                                    width: auto;
                                    display: inline;
                                    float: left;
                                    border: 0;
                                    margin: 0;
                                    padding: 0;

                                    .input-label {
                                        position: absolute;
                                        clip: rect(1px, 1px, 1px, 1px);
                                    }

                                    &.item-input input {
                                        width: 100px;
                                    }
                                }

                                div {
                                    margin: 0;
                                    padding: 0;
                                }
                            }
                        }

                        .contact {
                            span {
                                display: block;
                                font-size: 120%;
                                margin-bottom: 10px;

                                &.username {
                                    font-weight: bold;
                                    font-size: 140%;
                                }
                            }
                        }

                        #startMenuContent {
                            a.button {
                                height: 100px;
                                width:80%;
                                line-height: 90px;
                                font-size: 40px;
                                display:block;
                                margin: 0 auto 100px auto;
                                &:first-child {
                                    margin-top: 50px;
                                }
                            }
                        }
                        #mapETA {
                            background-color: white;
                            //text-align: center;
                            font-size: 0.8em;
                            float: right;
                            position: absolute;
                            top: 8px;
                            right: 10px;
                            z-index: 100;
                            padding: 0 10px 4px 10px;
                            span {
                                display: block;
                                font-size: 2.5em;
                            }
                        }
                        #map {
                            width: 100%;
                            height: 100%;
                            .info_content {
                                max-width: 160px;
                            }
                        }
                    }
                }
            }
        }
    }
}
